/target/
*.class

# IntelliJ
.idea
*.iml
*.iws
*.ipr
*.ids
*.orig
/classes
/out

# Eclipse
*.pydevproject
.project
.metadata
/bin
/*/bin
/tmp
/*/tmp
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings
.loadpath
